# Python
venv/
__pycache__/
*.pyc

# Django
db.sqlite3

# Env files
.env

# Node
node_modules/
frontend/build/

# Logs
*.log

# Celery
celerybeat-schedule*

# Executables
*.exe

# Ngrok (explicit)
backend/ngrok.exe
backend/ngrok copy.exe

# OS files
.DS_Store
Thumbs.db

backend/media/
backend/files/